<p id="notice"><%= notice %></p>

<h1>Outgoing</h1>



<%= link_to 'New Checkout', new_checkout_path, remote: true %>

<div id="new-checkout" style="display:none;"></div>

<div class="row">
  <table id="checkouts">
  <thead>
    <tr>
      <th>Date Sent</th>
      <th>Name</th>
      <th>State</th>
      <th>Destination</th>
      <th>Purpose</th>
      <th>Serial No</th>
      <th>Dispatched By</th>
      <th>Received By</th>
      <th>Waybill No</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div id="render_page">
      <%= render partial: @checkouts %>
    </div>
  </tbody>
</table>

<br>
</div>
